@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Nunito", sans-serif;
}

:root {
  --bg-color: black;
  --snd-bf-color: black;
  --text-color: white;
  --main-color: skyblue;
}

html {
  font-size: 60.5%;
  overflow: hidden;
}

body {
  top: 0rem;
  background: black;
  color: var(--text-color);
  scroll-margin-top: 160px;
}
section {
  min-height: 100vh;
  padding: 10rem 9% 2 rem;
}

.header {
  position: fixed;
  top: 0rem;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  margin-bottom: 20px;
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 700;
  cursor: default;
  margin-top: 2px;
}

.navbar a {
  font-size: 1.5rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 700;
}

.navbar a:hover,
.navbar a.active {
  color: var(--text-color);
}

#menu-icon {
  font: size 3.6rem;
  color: var(--main-color);
  display: none;
}

.Home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.Home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
  /* margin-bottom: 30px; */
  /* color: aqua; */
}
.Home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

span {
  color: var(--main-color);
}

.Home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
  margin-top: 9rem;
}

.Home-img img {
  /* width: 25vw; */
  width: 200px; /* Set width to desired size */
  height: 200px; /* Set height to desired size */
  animation: floatImage 4s ease-in-out infinite;
  margin-right: 10px;
  margin-bottom: 105rem;
  border-radius: 50%; /* Makes the image circular */
  border: 5px solid #000; /* Optional: Add a border with desired color and width */
  object-fit: cover;
}

.Home-content {
  margin-bottom: 50px;
}

.Home-content p {
  font-size: 20px;
  color: white;
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 100%;
  font-size: 2rem;
  color: skyblue;
  margin: 10px;
  transition:
    background-color 1s,
    transform 0.5s;
  margin-bottom: 50px;
}

.social-media a:hover {
  background-color: aqua;
  color: var(--snd-bf-color);
  box-shadow: 0 0 1rem var(--main-color);
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: cubic-bezier();
  margin-bottom: 100rem;
}

.btn:hover {
  box-shadow: none;
}
.About {
  display: flex;
  /* justify-content: center; */
  align-items: left;
  gap: 1.5rem;
  background: var(--snd-bf-color);
}

.About-img {
  width: 35vw;
  align-items: right;
}

.heading {
  text-align: left;
  font-size: 4.5rem;
}

.About-content h2 {
  text-align: left;
  line-height: 1.2;
  /* margin-bottom: 10rem; */
  margin-top: 10rem;
}
.About-content h3 {
  margin-bottom: 4rem;
  color: aqua;
  font-size: 4rem;
}

.About-content p {
  font-size: 2rem;
  margin: 2rem 0 4rem;
}
.Services {
  padding: 0.5rem;
  /* background-color: #f0f0f0; */
}
.Services h1 {
  margin-top: 10rem;
}

.Services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.Services-container p {
  font-size: 1rem;
  margin: 1rem 0 1rem;
  margin-top: 2rem;
}
.Services-container h3 {
  font-size: 1rem;
  color: aqua;
  margin-top: 3rem;
  margin: 0.5rem 0 0.5rem;
}
.Services-container .Services-box {
  flex: 1 1 30rem;
  background: var(--snd-bg-color);
  padding: 2rem 1.5rem 7rem;
  border-radius: 5rem;
  text-align: center;
  border: 0.2rem solid var(--bg-color);
  transition: 0.5 ease;
  border-bottom: 3rem;
  margin-bottom: 1.5rem;
}
.Services-container .Services-box:hover {
  border-color: var(--main-color);
  transform: scale(1);
}

.Services-box i {
  font-size: 4rem;
  color: var(--main-color);
  border-radius: 10px;
  padding: 15px; /* Reduced padding */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: calc(25% - 20px); /* Adjust width as needed */
  box-sizing: border-box;
}

.Services-box h3 {
  font-size: 2rem;
}
.Services-box p {
  font-size: 1.5rem;
  margin: 1rem 0 1rem;
}
.Portfolio {
  background: var(--snd-bf-color);
  gap: 5px;
  padding: 10px;
}
.Portfolio-box {
  margin-top: 20px;
  /* width: 50%; */
  border-radius: 10px;
  width: 300px;
  height: 50px;
}

.Portfolio h2 {
  margin-top: 50px;

  text-align: center;
  font-size: 2.5em;
  /* margin-bottom: 1rem; */

  margin: 0.1rem 0 0.1rem;
}
.Portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  align-items: center;
  gap: 10px;
}
.Portfolio-container .Portfolio-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
  /* max-width: 25rem;
  max-height: 25rem; */
  width: 300px; /* Set the desired width */
  height: 210px; /* Set the desired height */
  object-fit: cover; /* Ensures images cover the entire area without distortion */
  margin: 10px; /* Optional: to add space between images */
}
.Portfolio-box img {
  /* margin-top: 2rem; */
  width: 90%;
  transition: 0.5s ease;
  opacity: 0.7;
  margin-top: 1rem;
}
.Portfolio-box:hover img {
  transform: scale(1.1);
}

.Portfolio-box .Portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(black, var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transform: translateY(100%);
  /* transition: 0.5s ease; */
  transition: opacity 0.3s ease; /* Smooth transition */
  padding: 10px;
  box-sizing: border-box; /* Ensures padding is included in the total height */
  text-align: center;
}

.Portfolio-box:hover .Portfolio-layer {
  transform: translateY(0);
}
.Portfolio-layer h4 {
  /*Web design text ko lagi*/
  font-size: 3rem;
  opacity: 0.5;
}
.Portfolio-layer p {
  /* Paragraph bhitra ko text ko lagi*/
  font-size: 1.05rem;
  margin: 30px 0 15px;
}

.Portfolio-layer a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: var(--text-color);
  border-radius: 50%;
}

.Portfolio-layer a i {
  font-size: 1rem;
  color: var(--snd-bg-color);
  row-gap: 1rem;
}
.Contact h2 {
  margin-top: 80px;
  gap: 2px;
  align-items: center;
  /* Add a top margin */
}
.Contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-top: 8rem;
}

.Contact form.input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.country-code-box {
  display: flex;
  align-items: left;
  width: 95rem;
}

.Contact form .input-box input,
.Contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: white;
  background: rgb(41, 35, 46);
  border-radius: 0.8rem;
  margin: 1.5rem 0;
}
.Contact form .inputbox input {
  width: 70%;
  margin-right: 25rem;
}
/* .input-box .inputbox {
  width: 200rem;
  height: 60rem;
} */

.country-code-box select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  font-size: 16px;
  margin-right: -1px; /* To avoid double border with input */
  flex: 1; /* Add flex property */
  width: 20rem;
  /* margin-right: 10rem; */
}
.Contact form textarea {
  width: 70rem;
  height: 10rem;
  border-radius: 0.8rem;
}
.Contact form.btn {
  margin-top: 2rem;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--snd-bg-color);
}
.footer-text {
  font-size: 1.6rem;
}

.footer-icontop {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 1rem;
  background: aqua;
  border-radius: 0.8rem;
  transition: 0.5s ease;
}
.footer-icontop a:hover {
  box-shadow: 0 0 1rem var(--main-color);
}

.footer-icontop a i {
  font-size: 2.4rem;
  color: car(--snd-bg-color);
}

/*Breakpoint*/
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 9910x) {
  .header {
    padding: 2rem 3%;
  }
  .Section {
    padding: 10rem 3%;
  }
  .Services {
    padding: 7rem;
  }
  .Portfolio {
    padding-bottom: 7rem;
  }
  .Contact {
    min-height: auto;
  }
  .footer {
    padding: 2rem 3%;
  }
}
@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem black;
    display: none;
  }
  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }
  .Home {
    flex-direction: column;
  }
  .Home-content h3 {
    font-size: 2.6rem;
  }
  .Home-content h1 {
    font-size: 5rem;
  }
  .Home-content {
    order: 2;
  }
  .Home-img img {
    width: 90vw;
    margin-top: 4rem;
  }
  .About {
    flex-direction: column;
  }
  .About-img img {
    width: 90vw;
    margin-top: 4rem;
  }
  .Services h2 {
    margin-bottom: 3rem;
  }
  .Portfolio h2 {
    margin-bottom: 3rem;
  }
  .Portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .Portfolio-container {
    grid-template-columns: 1fr;
  }
  .Home-img img {
    width: 80vw;
    margin-top: 4rem;
  }
  .About-img img {
    width: 50vw;
    margin-top: 2rem;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 400;
  }
  .Contact form .input-box input {
    width: 100%;
  }
}
